.list {
    width: 1440px;
    height: 2300px;
}

.list_con {
    margin: 0 220px;
}

.list_title {
    width: 158px;
    letter-spacing: 7px;
    background-color: #ffffff;
    font-size: 12px;
    font-family: '微软雅黑';
    color: #000000;
    position: relative;
    top: -9px;
    left: 484px;
    text-align: center;
}

.one_li,
.two_li,
.thr_li,
.for_li li {
    cursor: pointer;
}

.li {
    display: block;
}

#two {
    position: relative;
    left: -14px;
    top: -10px;
    line-height: 29px;
    margin-bottom: -7px;
}

#thr {
    position: relative;
    left: -22px;
}

#for {
    position: relative;
    left: -22px;
}

.left_li {
    display: inline-block;
    position: relative;
    top: 50px;
    width: 200px;
}

.left_li a {
    color: #000000;
    font-family: '微软雅黑';
}

.left_li>li {
    font-size: 18px;
    line-height: 31px;
}

.list_img {
    display: inline-block;
    width: 390px;
    margin-bottom: 36px;
}

.imgs {
    float: right;
    width: 793px;
    display: inline-block;
    height: 700px;
    position: relative;
    top: 61px;
    left: 36px;
}

.good_cons {
    width: 200px;
    text-align: center;
    color: #000000;
    font-family: '微软雅黑';
    font-size: 12px;
    background-color: #ffffff;
    background-position-y: 5px;
    background-repeat: no-repeat;
    background-image: url('../list_images/back_img.png');
    position: relative;
    top: 9px;
    left: 90px;
}

.list_img p {
    text-align: center;
    color: #000000;
    font-family: '微软雅黑';
    font-size: 12px;
    margin-top: 15px;
}

.good_cons span {
    background-color: #ffffff;
}

.buttons{
    color: #000000;
    font-family: '微软雅黑';
    font-size: 12px;
    position: relative;
    left: 432px;
    top: -10px;
    width: 500px;
}
.buttons button{
     color: #000000;
    font-family: '微软雅黑';
    font-size: 12px;
    width: 55px;
    height: 25px;
        margin: 0px 11px;
}
.buttons input{
    text-align: center;
    width: 36px;
    height: 15px;
    margin: 0px 11px;
}
